<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{css/homepage.css}" rel="stylesheet" href=".../static/css/homepage.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <script th:src="@{js/script.js}" type=".../static/js/script.js"></script>
</div>
</body>
</html>
